<!doctype html>

<html lang="en">

<style type="text/css">

body {
font-family: sans-serif;
width: 500px;
margin: 0 auto;
}

.error {
color: red;
font: 14px sans-serif;
}

</style>

<head>
	<meta charset="utf-8">
	<link rel="shortcut icon" href="/favicon0.ico">
	<title>py.gl - Put it online</title>
	<meta name="description" content="pygl page - create free micro pages">
	<meta name="viewport" content="width=720">
	<style type="text/css"></style>
</head>

<body>
	<form id="check-password-form" method="POST" enctype="multipart/form-data">
		<br><br><br><br><br><br>
		Please enter the password for <a href="http://{{page_uri}}.py.gl" style="color: black;font-weight: normal;">{{page_uri}}.py.gl</a>:
		<br><br><br>
			<label>
				Password:
				<input type="password" name="password">
			</label>
		<input type="submit" value="Login"/>
		<br><br>
		<div class = "error">
		{% if err_wrong_password == True %}
			Sorry, you entered a wrong password.
		{% endif %}
		{% if err_password_locked == True %}
			Sorry, a wrong password was entered five times, please wait 10 minutes.
		{% endif %}
		</div>
		<br><br><br>
	</form>
</body>
</html>
