<!doctype html>

<html lang="en">
<head>
	<meta charset="utf-8">
	<link rel="shortcut icon" href="/favicon0.ico">
	<title>py.gl - Put it online</title>
	<meta name="description" content="pygl page - create free micro pages">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<style type="text/css"></style>
</head>

<body>
	<form id="check-password-form" method="POST" enctype="multipart/form-data">
		<p>
			<label>
				Password:
				<input type="password" name="password">
			</label>
		</p>
		 <input type="submit" value="senden"/>
		</div>
	</form>
</body>
</html>
