<!doctype html>

<html lang="en">
<head>
	<meta charset="utf-8">
	<link rel="shortcut icon" href="/favicon0.ico">
	<title>py.gl - Put it online</title>
	<meta name="description" content="pygl page - create free micro pages">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<style type="text/css"></style>
	<script src='https://www.google.com/recaptcha/api.js'></script>
</head>

<body>
	<form id="create-form" method="POST" enctype="multipart/form-data">
		<div>
			<label>
				<p>
				<input type="text" name="page_title" placeholder="Title" value="{{page_title}}">
				{% if err_title == True %}
				Bitte füge einen Titel, einen Text oder ein Bild ein
				{% endif %}
				</p>
			</label>
		</div>
		<div>
			<label>

				<p>
				 <textarea style="font: 16px Verdana;" name="page_text0" cols="50" rows="12" placeholder="Text&#10;&#10;&#10;Tips:&#10;&#10;- *Text zwischen asterisks* will be displayed in bold&#10;&#10;- Create multiple pygl-pages and link them with:&#10;py.gl/my-page-2" onkeydown="if(event.keyCode===9){var v=this.value,s=this.selectionStart,e=this.selectionEnd;this.value=v.substring(0, s)+'\t'+v.substring(e);this.selectionStart=this.selectionEnd=s+1;return false;}">{{page_text0}}</textarea>
				</p>
			</label>
		</div>
		<div>
			<label>
				Image:
				<input type="file" name="page_image" accept="image/*" id="input" onchange="">
				
			</label>
		</div>
		<img id="preview_image" src="" alt=""/>
		<div>
			<label>
				<p>
				 <textarea style="font: 16px Verdana;" name="page_text1" cols="50" rows="12" placeholder="Text" onkeydown="if(event.keyCode===9){var v=this.value,s=this.selectionStart,e=this.selectionEnd;this.value=v.substring(0, s)+'\t'+v.substring(e);this.selectionStart=this.selectionEnd=s+1;return false;}">{{page_text1}}</textarea>
				</p>
			</label>
		</div>
		<div>
			<label>
				<p>Url:</p>
				py.gl / <input type="text" name="page_uri" placeholder="my-page" value="{{page_uri}}">
				{% if err_uri_not_available == True %}
				Sorry, this page name is not available
				{% endif %}
				{% if err_uri_invalid == True %}
				Invalid page name (name must be between 2 and 160 characters and may contain a-z, 0-9 and -)
				{% endif %}
			</label>
		</div>
		<div>
			<label>
				Comments active:
				<input type="checkbox" name="comments_active" value="comments_active" {{comments_checked}}>
			</label>
		</div>
		<div>
		<p>
			<label>
				Password:
				<input type="password" name="page_password" placeholder="set password">
				{% if err_passwort_format == True %}
				Invalid password (must be at least 6 characters long and may contain A-Z, a-z, 0-9 and @#$%^!?&+=)
				{% endif %}
				<br>
			</label>
			<label>
				Retype password:
				<input type="password" name="page_repassword" placeholder="retype password">
				{% if err_password_retype == True %}
				The retyped password did not match
				{% endif %}
			</label>
		</p>
		</div>
		<div class="g-recaptcha" data-sitekey="6LdFmiEUAAAAAGrbm1QfbqbKjhfBpjCXHnsY7vPi"></div>
		{% if err_captcha == True %}
		Please check the 'I am not a robot' box
		{% endif %}
		<div>
		 <input type="submit" value="Put it online"/>
		</div>
	</form>
</body>
</html>
