<!doctype html>

<html lang="en">

<style type="text/css">

body {
font-family: sans-serif;
width: 800px;
margin: 0 auto;
}

textarea {
width: 800px;
height: 80px;
resize: none;
overflow: hidden;
min-height: 25px;
}

.error {
color: red;
}
</style>


<head>
	<meta charset="utf-8">
	<link rel="shortcut icon" href="/favicon0.ico">
	<title>py.gl - Put it online</title>
	<meta name="description" content="pygl page - create free micro pages">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<style type="text/css"></style>
	<script src='https://www.google.com/recaptcha/api.js'></script>
	<script>
       function onSubmit(token) {
         document.getElementById("create-form").submit();
       }
     </script>
	<script>
	function handleFiles()
	{
	    var file = document.getElementById('image_input0').files[0];
		if(file != undefined) {
		if(file.type.match(/image.*/)){
	    // Create an image
	    var image = new Image();
	    image.src = 
	    image.onload = function()
	    {
	     
	        //var canvas = $("<canvas>", {"id":"testing"})[0];
	        //var ctx = canvas.getContext("2d");
	        //ctx.drawImage(img, 0, 0);
	
	        var MAX_WIDTH = 640;
	        var MAX_HEIGHT = 640;
	        var width = image.width;
	        var height = image.height;
	        
	        document.getElementById("demo").innerHTML = file.type;
	        document.getElementById("demo2").innerHTML = image.width;
	
	        if (width > height) {
	          if (width > MAX_WIDTH) {
	            height *= MAX_WIDTH / width;
	            width = MAX_WIDTH;
	          }
	        } else {
	          if (height > MAX_HEIGHT) {
	            width *= MAX_HEIGHT / height;
	            height = MAX_HEIGHT;
	          }
	        }
	        var canvas = document.createElement("canvas");
	        canvas.width = width;
	        canvas.height = height;
	        var ctx = canvas.getContext("2d");
	        ctx.drawImage(image, 0, 0, width, height);
	
	        var dataurl = canvas.toDataURL("image/jpeg");
	        
			document.getElementById("demo").innerHTML = dataurl;
			
			
			var fd = new FormData();
			fd.append("name", "paul");
			fd.append("dataurl", dataurl);
			var xhr = new XMLHttpRequest();
			xhr.open("POST", "https://pygl-page.appspot.com/r/upload");
			//xhr.open("POST", "https://8080-dot-2973034-dot-devshell.appspot.com/r/upload");
			
			xhr.onload = function () {
			  if (xhr.readyState === 4) {
			    if (xhr.status === 200) {
			      console.log(xhr.responseText);
			      document.getElementById("demo").innerHTML = xhr.responseText;
			      document.getElementById("image_id0").value = xhr.responseText;
			      document.getElementById('preview_image0').src = dataurl;
			      document.getElementById('image_input0').value= null;
			    } else {
			      console.error(xhr.statusText);
			      document.getElementById("demo").innerHTML = xhr.statusText;
			    }
			  }
			};
			
			xhr.send(fd);
			
	        
	    };
	    
	    
	    // Create a file reader
	    var reader = new FileReader();
	    // Set the image once loaded into file reader
	    reader.onload = function()
	    {
	    	//document.getElementById('preview_image').src = event.target.result;
	    	//var image = document.createElement("img");
	    	
	        image.src = event.target.result;
	      
	    };
	    // Load files into file reader
	    reader.readAsDataURL(file);
	    }
	    else
	    {
	    document.getElementById("demo").innerHTML = "not image type";
	    }
	    }
	    else
	    {
	    document.getElementById("demo").innerHTML = "file undefined";
	    }
	    
	}
	
function autosize(element) {

    var scrollLeft = window.pageXOffset ||
   (document.documentElement || document.body.parentNode || document.body).scrollLeft;

   var scrollTop  = window.pageYOffset ||
   (document.documentElement || document.body.parentNode || document.body).scrollTop;

    element.style.height = "5px";
    element.style.height = (element.scrollHeight + 10)+"px";
    
   window.scrollTo(scrollLeft, scrollTop);
    
}


function autosizeall() {
	var element;
	element = document.getElementById("page_text0");
	if (element.innerHTML !== "") {autosize(element);}
	element = document.getElementById("page_text1");
	if (element.innerHTML !== "") {autosize(element);}
}

var delayTimerUrl;
function checkUrl(urlString){
clearTimeout(delayTimerUrl);
    delayTimerUrl = setTimeout(function() {
    document.getElementById("urlinfo").innerHTML = urlString;
    }, 1200); // Will do the check after 1200 ms
}
	
	
function useExtendedForm(){
	document.getElementById('extendedform').style.display = 'block';
	document.getElementById('simpleform').style.display = 'none';
	return false;
}

function useSimpleForm(){
	document.getElementById('extendedform').style.display = 'none';
	document.getElementById('simpleform').style.display = 'block';
	return false;
}
	
	</script>
</head>

<body onload=autosizeall()>
	<form id="create-form" method="POST" enctype="multipart/form-data">
		<div>
			<label>
			<p  id="demo">para</p>
			<p  id="demo2">para</p>
				<p>
				<input type="text" name="page_title" placeholder="Title" value="{{page_title}}">
				{% if err_title == True %}
				Please insert a title, text or image
				{% endif %}
				</p>
			</label>
		</div>
		<div>
			<label>

				<p>
				 <textarea style="font: 16px Verdana;" name="page_text0" id="page_text0" oninput="autosize(this)" placeholder="Text&#10;&#10;&#10;Tips:&#10;&#10;- *Text between asterisks* will be displayed in bold&#10;&#10;- Create multiple pygl-pages and link them with:&#10;py.gl/my-page-2" onkeydown="if(event.keyCode===9){var v=this.value,s=this.selectionStart,e=this.selectionEnd;this.value=v.substring(0, s)+'\t'+v.substring(e);this.selectionStart=this.selectionEnd=s+1;return false;}">{{page_text0}}</textarea>
				</p>
			</label>
		</div>
		<div>
			<label>
				Image:
				<input type="file" name="page_image0" accept="image/*" id="image_input0" onchange="handleFiles()">
				<input type="hidden" name="image_id0" id="image_id0">
			</label>
		</div>
		<img id="preview_image0" src="" alt=""/>
		<div>
			<label>
				<p>
				 <textarea style="font: 16px Verdana;" name="page_text1" id="page_text1" oninput="autosize(this)" placeholder="Text" onkeydown="if(event.keyCode===9){var v=this.value,s=this.selectionStart,e=this.selectionEnd;this.value=v.substring(0, s)+'\t'+v.substring(e);this.selectionStart=this.selectionEnd=s+1;return false;}">{{page_text1}}</textarea>
				</p>
			</label>
		</div>
		
		
		
		<div style="display: none;" id="extendedform">
		
		
			<div>
				<label id="label_loadimage1">
					Image:
					<input type="file" style="display:none;" name="page_image1" accept="image/*" id="image_input1" onchange="handleFiles()">
					<input type="hidden" name="image_id1" id="image_id1">
				</label>
			</div>
			<img id="preview_image1" src="" alt=""/>
			<div>
				<label>
					<p>
					 <textarea style="font: 16px Verdana;" name="page_text2" id="page_text2" oninput="autosize(this)" placeholder="Text" onkeydown="if(event.keyCode===9){var v=this.value,s=this.selectionStart,e=this.selectionEnd;this.value=v.substring(0, s)+'\t'+v.substring(e);this.selectionStart=this.selectionEnd=s+1;return false;}">{{page_text1}}</textarea>
					</p>
				</label>
			</div>
			<div>
				<label>
					Image:
					<input type="file" name="page_image2" accept="image/*" id="image_input2" onchange="handleFiles()">
					<input type="hidden" name="image_id2" id="image_id2">
				</label>
			</div>
			<img id="preview_image2" src="" alt=""/>
			<div>
				<label>
					<p>
					 <textarea style="font: 16px Verdana;" name="page_text3" id="page_text3" oninput="autosize(this)" placeholder="Text" onkeydown="if(event.keyCode===9){var v=this.value,s=this.selectionStart,e=this.selectionEnd;this.value=v.substring(0, s)+'\t'+v.substring(e);this.selectionStart=this.selectionEnd=s+1;return false;}">{{page_text1}}</textarea>
					</p>
				</label>
			</div>
			<div>
				<label>
					Image:
					<input type="file" name="page_image3" accept="image/*" id="image_input3" onchange="handleFiles()">
					<input type="hidden" name="image_id3" id="image_id3">
				</label>
			</div>
			<img id="preview_image3" src="" alt=""/>
			<div>
				<label>
					<p>
					 <textarea style="font: 16px Verdana;" name="page_text4" id="page_text4" oninput="autosize(this)" placeholder="Text" onkeydown="if(event.keyCode===9){var v=this.value,s=this.selectionStart,e=this.selectionEnd;this.value=v.substring(0, s)+'\t'+v.substring(e);this.selectionStart=this.selectionEnd=s+1;return false;}">{{page_text1}}</textarea>
					</p>
				</label>
			</div>
			<div>
				<label>
					Image:
					<input type="file" name="page_image4" accept="image/*" id="image_input4" onchange="handleFiles()">
					<input type="hidden" name="image_id4" id="image_id4">
				</label>
			</div>
			<img id="preview_image4" src="" alt=""/>
			<div>
				<label>
					<p>
					 <textarea style="font: 16px Verdana;" name="page_text5" id="page_text5" oninput="autosize(this)" placeholder="Text" onkeydown="if(event.keyCode===9){var v=this.value,s=this.selectionStart,e=this.selectionEnd;this.value=v.substring(0, s)+'\t'+v.substring(e);this.selectionStart=this.selectionEnd=s+1;return false;}">{{page_text1}}</textarea>
					</p>
				</label>
			</div>
		
		<a href="/" onclick="return useSimpleForm()"> Use simple layout</a>
		</div>
		<br/>
		<div style="display: block;" id="simpleform">
			<a href="/extended-form.html" onclick="return useExtendedForm()"> Use extended layout</a>
		</div>
		
		
		<div>
			<label>
				<p>Url:</p>
				py.gl / <input type="text" name="page_uri" placeholder="my-page" value="{{page_uri}}" onkeyup="checkUrl(this.value)">
				<p  id="urlinfo"></p>
				{% if err_uri_not_available == True %}
				Sorry, this page name is not available
				{% endif %}
				{% if err_uri_invalid == True %}
				Invalid page name (name must be between 2 and 160 characters and may contain a-z, 0-9 and -)
				{% endif %}
			</label>
		</div>
		<div>
			<label>
				Comments active:
				<input type="checkbox" name="comments_active" value="comments_active" {{comments_checked}}>
			</label>
		</div>
		<div>
		<p>
			<label>
				Password:
				<input type="password" name="page_password" placeholder="set password">
				{% if err_passwort_format == True %}
				Invalid password (must be at least 6 characters long and may contain A-Z, a-z, 0-9 and @#$%^!?&+=)
				{% endif %}
				<br>
			</label>
			<label>
				Retype password:
				<input type="password" name="page_repassword" placeholder="retype password">
				{% if err_password_retype == True %}
				The retyped password did not match
				{% endif %}
			</label>
		</p>
		</div>
		
		<button
		class="g-recaptcha"
		data-sitekey="6Le1hicUAAAAAKPxxf4c3xJn61w5Za78csRVWjlS"
		data-callback="onSubmit">
		Put it online
		</button>
		{% if err_captcha == True %}
		sorry, recaptcha failed
		{% endif %}
		
	</form>
	<br><br><br><br>
</body>
</html>
