<!doctype html>

<html lang="en">

<style type="text/css">

body {
font-family: sans-serif;
width: 500px;
margin: 0 auto;
}

.error {
color: red;
font: 14px sans-serif;
}

</style>

<head>
	<meta charset="utf-8">
	<link rel="shortcut icon" href="/favicon0.ico">
	<title>py.gl - Put it online</title>
	<meta name="description" content="pygl page - create free micro pages">
	<meta name="viewport" content="width=720">
	<style type="text/css"></style>
  
  <!-- Global site tag (gtag.js) - Google Analytics -->
	</script><script async src="https://www.googletagmanager.com/gtag/js?id=UA-109506841-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());
	
	  gtag('config', 'UA-109506841-1');
	</script>
  
	<script src='https://www.google.com/recaptcha/api.js'></script>
	<script>
       function onSubmit(token) {
         document.getElementById("delete-form").submit();
       }
     </script>
</head>

<body>
	<form id="delete-form" method="POST" enctype="multipart/form-data">
		<br><br><br><br><br><br>
		Are you sure you want to delete:
		<br><br>
		{{page_uri}}.py.gl
		<br>
		<div>
		<br><br>
		<label>
				Enter password:
				<input type="password" name="password">
		</label>
		<br><br>
		<button
		class="g-recaptcha"
		data-sitekey="6Le1hicUAAAAAKPxxf4c3xJn61w5Za78csRVWjlS"
		data-callback="onSubmit">
		Delete page
		</button>
		</div>
		<br><br>
		<div class = "error">
		{% if err_wrong_password == True %}
			Sorry, you entered a wrong password.
		{% endif %}
		{% if err_password_locked == True %}
			Sorry, a wrong password was entered three times, please wait 10 minutes.
		{% endif %}
		</div>
		<br><br>
		<a href="http://{{page_uri}}.py.gl" style="color: black;font-weight: normal;">Go back to {{page_uri}}.py.gl</a>
	</form>
</body>
</html>
