<!doctype html>

<html lang="en">

<style type="text/css">

body {
font-family: sans-serif;
width: 800px;
margin: 0 auto;
}

.error {
color: red;
font: 14px sans-serif;
}
  
.changessaved {
color: green;
font: 14px sans-serif;
}

.center {
margin: 0 auto;
text-align: center;
}

.centertable {
margin-left:55px; 
}

table, tr, td {
    border: none;
}

</style>

<head>
	<meta charset="utf-8">
	<title>{{page_uri}}.py.gl (Edit)</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=720">
	<style type="text/css"></style>
  <!--
	<script src='https://www.google.com/recaptcha/api.js'></script>
  -->
  
  <!-- Global site tag (gtag.js) - Google Analytics -->
	</script><script async src="https://www.googletagmanager.com/gtag/js?id=UA-109506841-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());
	
	  gtag('config', 'UA-109506841-1');
	</script>
  
	<script>
       function onSubmit(token) {
         document.getElementById("edit-form").submit();
       }
  </script>
     
     
     <script src='/tinymce/js/tinymce/tinymce.min.js'></script>
  <script>
  tinymce.init({
    selector: '#maintextarea',
    height: 300,
    theme: "modern",
    plugins: 'preview paste searchreplace autolink directionality visualblocks visualchars image link media template codesample code table charmap hr pagebreak nonbreaking anchor toc insertdatetime advlist lists textcolor imagetools contextmenu colorpicker textpattern autoresize',
    toolbar1: 'formatselect | bold italic strikethrough forecolor backcolor | link | alignleft aligncenter alignright alignjustify  | numlist bullist outdent indent  | removeformat',
	  image_dimensions: false,

  	// enable automatic uploads of images represented by blob or data URIs
  	automatic_uploads: true,
  	// URL of our upload handler (for more details check: https://www.tinymce.com/docs/configure/file-image-upload/#images_upload_url)
  	// images_upload_url: 'postAcceptor.php',
  	// here we add custom filepicker only to Image dialog
  	file_picker_types: 'image', 
  	// and here's our custom image picker
  	file_picker_callback: function(cb, value, meta) {
    	var input = document.createElement('input');
    	input.setAttribute('type', 'file');
    	input.setAttribute('accept', 'image/*');
	    
	    // Note: In modern browsers input[type="file"] is functional without 
	    // even adding it to the DOM, but that might not be the case in some older
	    // or quirky browsers like IE, so you might want to add it to the DOM
	    // just in case, and visually hide it. And do not forget do remove it
	    // once you do not need it anymore.
	
	    input.onchange = function() {
	      var file = this.files[0];
        var dataurl;
        
        var imgreader = new FileReader();
	      imgreader.onload = function () {
	      	
	        image.src = event.target.result;;
	      };
        
        
        // Create an image
        var image = new Image();
        image.onload = function()
        {
            var MAX_WIDTH = 640;
            var MAX_HEIGHT = 640;
            var width = image.width;
            var height = image.height;

            if (width > height) {
              if (width > MAX_WIDTH) {
                height *= MAX_WIDTH / width;
                width = MAX_WIDTH;
              }
            } else {
              if (height > MAX_HEIGHT) {
                width *= MAX_HEIGHT / height;
                height = MAX_HEIGHT;
              }
            }
            var canvas = document.createElement("canvas");
            canvas.width = width;
            canvas.height = height;
            var ctx = canvas.getContext("2d");
            ctx.drawImage(image, 0, 0, width, height);
        
            dataurl = canvas.toDataURL("image/jpeg", 0.6);
            //console.log(dataurl); 
            //reader.readAsDataURL(canvas.toDataURL("image/png"));
          
            canvas.toBlob(function(blob){
            blob.name = file.name;               
            
              // Note: Now we need to register the blob in TinyMCEs image blob
            // registry. In the next release this part hopefully won't be
            // necessary, as we are looking to handle it internally.
            var id = 'blobid' + (new Date()).getTime();
            var blobCache =  tinymce.activeEditor.editorUpload.blobCache;
            var base64 = dataurl.split(',')[1];
            var blobInfo = blobCache.create(id, blob, base64);

            blobCache.add(blobInfo);


            // call the callback and populate the Title field with the file name
            cb(blobInfo.blobUri(), { title: blob.name });
              
            }, 'image/jpeg', 0.6);
          
          
        };
        
        imgreader.readAsDataURL(file);
	    };
	    
	    input.click();
	}
  	
  });
  </script>
     
	<script>
	function handleFiles(image_id)
	{	var file;
	    if (image_id === '0') {
	      file = document.getElementById('image_input0').files[0];
	    } else if (image_id === '1') {
	      file = document.getElementById('image_input1').files[0];
	    } else {
	      file = document.getElementById('image_input2').files[0];
	    }
		if(file != undefined) {
		if(file.type.match(/image.*/)){
	    // Create an image
	    var image = new Image();
	    image.src = 
	    image.onload = function()
	    {
	     
	        //var canvas = $("<canvas>", {"id":"testing"})[0];
	        //var ctx = canvas.getContext("2d");
	        //ctx.drawImage(img, 0, 0);
	
	        var MAX_WIDTH = 480;
	        var MAX_HEIGHT = 480;
	        var width = image.width;
	        var height = image.height;
	        
	        //document.getElementById("demo").innerHTML = file.type;
	        //document.getElementById("demo2").innerHTML = image.width;
	
	        if (width > height) {
	          if (width > MAX_WIDTH) {
	            height *= MAX_WIDTH / width;
	            width = MAX_WIDTH;
	          }
	        } else {
	          if (height > MAX_HEIGHT) {
	            width *= MAX_HEIGHT / height;
	            height = MAX_HEIGHT;
	          }
	        }
	        var canvas = document.createElement("canvas");
	        canvas.width = width;
	        canvas.height = height;
	        var ctx = canvas.getContext("2d");
	        ctx.drawImage(image, 0, 0, width, height);
	
	        var dataurl = canvas.toDataURL("image/jpeg");
	        
			//document.getElementById("demo").innerHTML = dataurl;
			
			
			var fd = new FormData();
			fd.append("name", "paul");
			fd.append("dataurl", dataurl);
			var xhr = new XMLHttpRequest();
			xhr.open("POST", "http://py.gl/r/upload");
			//xhr.open("POST", "https://pygl-page.appspot.com/r/upload");
			//xhr.open("POST", "https://8080-dot-2973034-dot-devshell.appspot.com/r/upload");
			
			xhr.onload = function () {
			  if (xhr.readyState === 4) {
			    if (xhr.status === 200) {
			      console.log(xhr.responseText);
			      //document.getElementById("demo").innerHTML = xhr.responseText;
			      if (image_id === '0') {
				      document.getElementById("image_id0").value = xhr.responseText;
				      document.getElementById('preview_image0').src = dataurl;
				      document.getElementById('image_input0').value= null; 
			      } else if (image_id === '1') {
			          document.getElementById("image_id1").value = xhr.responseText;
				      document.getElementById('preview_image1').src = dataurl;
				      document.getElementById('image_input1').value= null; 
			      } else {
				      document.getElementById("image_id2").value = xhr.responseText;
				      document.getElementById('preview_image2').src = dataurl;
				      document.getElementById('image_input2').value= null; 
				  }
			      
			    } else {
			      console.error(xhr.statusText);
			      //document.getElementById("demo").innerHTML = xhr.statusText;
			    }
			  }
			};
			
			xhr.send(fd);
			
	        
	    };
	    
	    
	    // Create a file reader
	    var reader = new FileReader();
	    // Set the image once loaded into file reader
	    reader.onload = function()
	    {
	    	//document.getElementById('preview_image').src = event.target.result;
	    	//var image = document.createElement("img");
	    	
	        image.src = event.target.result;
	      
	    };
	    // Load files into file reader
	    reader.readAsDataURL(file);
	    }
	    else
	    {
	    // document.getElementById("demo").innerHTML = "not image type";
	    }
	    }
	    else
	    {
	    // document.getElementById("demo").innerHTML = "file undefined";
	    }
	    
	}
	
function deleteImage(image_id){
	if (image_id === '0') {
		document.getElementById("image_id0").value = null;
		document.getElementById('preview_image0').src = null;
		document.getElementById('image_input0').value= null; 
	} else if (image_id === '1') {
		document.getElementById("image_id1").value = null;
		document.getElementById('preview_image1').src = null;
		document.getElementById('image_input1').value= null;
	}else {
		document.getElementById("image_id2").value = null;
		document.getElementById('preview_image2').src = null;
		document.getElementById('image_input2').value= null; 
	}
}
	
function autosize(element) {

    var scrollLeft = window.pageXOffset ||
   (document.documentElement || document.body.parentNode || document.body).scrollLeft;

   var scrollTop  = window.pageYOffset ||
   (document.documentElement || document.body.parentNode || document.body).scrollTop;

    element.style.height = "5px";
    element.style.height = (element.scrollHeight + 10)+"px";
    
   window.scrollTo(scrollLeft, scrollTop);
    
}


function autosizeall() {
	var element;
	element = document.getElementById("page_text0");
	if (element.innerHTML !== "") {autosize(element);}
	element = document.getElementById("page_text1");
	if (element.innerHTML !== "") {autosize(element);}
}

var delayTimerUrl;
function checkUrl(urlString){
clearTimeout(delayTimerUrl);
    delayTimerUrl = setTimeout(function() {
    document.getElementById("urlinfo").innerHTML = urlString;
    }, 1200); // Will do the check after 1200 ms
}
	
	
function useExtendedForm(){
	document.getElementById('extendedform').style.display = 'block';
	document.getElementById('simpleform').style.display = 'none';
	return false;
}

function useSimpleForm(){
	document.getElementById('extendedform').style.display = 'none';
	document.getElementById('simpleform').style.display = 'block';
	return false;
}

function jumptoanchor(anchor){
	if (anchor !== '' && anchor !== undefined)
	{
		//location.href="#" + anchor;
	}
	}
	
	</script>
</head>

<body onload=jumptoanchor("{% if (status_saved == True) or (err_wrong_password == True) or (err_password_locked == True) or (err_uri_not_available == True) or (err_passwort_format == True) or (err_captcha == True)%}pub{% endif %}")>
	<form id="edit-form" method="POST" enctype="multipart/form-data">
		
		
		<br><br>
    <center>
    <h3>
		In this editor you can create and customize your free website <br><br><a href="http://{{page_uri}}.py.gl" style="color: black;font-weight: bold;">{{page_uri}}.py.gl</a>:
    </h3>
		<br><br>
      {% if status_saved == True %}
        <div class = "changessaved">
				Successfully saved changes
        </div>
				{% endif %}
          
				<div class = "error">
				{% if err_captcha == True %}
				sorry, recaptcha failed
				{% endif %}
				{% if err_wrong_password == True %}
				Sorry, you are not logged in, please enter your password.
				{% endif %}
				{% if err_password_locked == True %}
				Sorry, a wrong password was entered five times, please wait 10 minutes.
				{% endif %}
				</div>
      
    </center>
		<div>
			<label>
				<p>
				 <textarea id="maintextarea" style="font: 16px sans-serif;" name="page_text0">{{page_text0|safe}}</textarea>
				</p>
			</label>
		</div>
		<a name="pub"></a>

    <br><br>
    
		
		<div class="centertable">
			
      
      <table>
			<col width="250">
			<col width="250">
      <tr>
				<td>
				<b>Website settings</b><br><br>
				</td>
				<td>
				
				</td>
			</tr>
			<tr>
				<td>
				Show comments:<br>
				</td>
				<td>
				<label>
					<input type="checkbox" name="comments_active" value="comments_active" {{comments_checked}}>
				</label>
				</td>
			</tr>
			<tr>
				<td>
				Email:
				</td>
				<td>
				<label>
					<input type="text" style="font: 16px sans-serif; width: 260px;" name="page_email" placeholder="(optional)" value="{{page_email}}">
				</label>
				</td>
			<tr>
        <tr>
				<td>
				Delete website:
				</td>
				<td>
				<label>
					<a href="/r/delete" style="color: black;font-weight: normal;">Delete {{page_uri}}.py.gl</a>
				</label>
				</td>
			<tr>
      </table>
      
      
      <br><br>
      
      <table>
      <col width="250">
			<col width="250">
      
			<!--
        <tr>
				<td>
				Enter your password and save:
				</td>
				<td>
					{% if err_wrong_password == True %}
					<input type="password" style="font: 16px sans-serif; width: 260px;" name="password" placeholder="">
					{% endif %}
				</td>
			</tr>
      -->
			<tr>
				<td valign="top">
				<b>Save changes</b>
				</td>
				<td>
        <!--
				<button
				class="g-recaptcha" style="font: 15px sans-serif;"
				data-sitekey="6Le1hicUAAAAAKPxxf4c3xJn61w5Za78csRVWjlS"
				data-callback="onSubmit">
				Save
				</button>
        -->
        <input type="hidden" name="save_page" value="True">
        {% if err_wrong_password == True or err_password_locked == True %}
					Enter password: <br><input type="password" style="font: 16px sans-serif; width: 260px;" name="password" placeholder=""><br><br>
			  {% endif %}
        <button onclick="onSubmit()" style="font: 15px sans-serif;width:100px;">Save</button>
				</td>
			</tr>
			<tr>
				<td>
				<br>
				</td>
				<td>
				<br>
        
				</td>
			</tr>
      <tr>
		  <td>
			<b>Change website password</b><br>
			</td>
			<td>
			<a href="http://{{page_uri}}.py.gl/r/changepassword" style="color: black;">Change password</a><br>
			</td>
			</tr>
        <tr>
				<td>
				<br>
				</td>
				<td>
				<br>
        
				</td>
			</tr>
            <tr>
		  <td>
			<b>Logout from website</b><br>
			</td>
			<td>
			<a href="http://{{page_uri}}.py.gl/?logout=true" style="color: black;">Logout</a><br>
			</td>
			</tr>
			</table>
		</div>
    <br><br><br>
    <center>
    
    </center>
		<div class="center">
			<br><br>
			
		</div>
		
		<br>
		
		
		
	</form>
	<br><br><br><br>
</body>
</html>
