<!doctype html>

<html lang="en">

<style type="text/css">

body {
font-family: sans-serif;
width: 800px;
margin: 0 auto;
}


</style>

<head>
	<meta charset="utf-8">
	<link rel="shortcut icon" href="/favicon0.ico">
	<title>Created {{page_uri}}.py.gl</title>
	<meta name="description" content="pygl page - create free micro pages">
	<meta name="viewport" content="width=720">
	<style type="text/css"></style>
  
  <!-- Global site tag (gtag.js) - Google Analytics -->
	</script><script async src="https://www.googletagmanager.com/gtag/js?id=UA-109506841-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());
	
	  gtag('config', 'UA-109506841-1');
	</script>
  
</head>

<body>
    <center>
		<br><br><br><br><br><br>
    <h2>
		Congratulations! <br>
    </h2>
    Your website is online
		<br><br><br><br>
		<h4>Edit your website:</h4><br><a href="http://{{page_uri}}.py.gl/edit" style="color: black;">{{page_uri}}.py.gl/edit</a>
    <br><br><br><br>
		<h4>Visit and share your website:</h4><br><a href="http://{{page_uri}}.py.gl" style="color: black;">{{page_uri}}.py.gl</a>
    <br><br><br><br><br>
    To open the editor later select <b>"Edit page"</b> at the bottom of your website, like shown below:
    <br><br><br>
    <img src="https://storage.googleapis.com/pygl-page.appspot.com/res/edit_page.png" alt="Edit page">
		<br><br><br><br><br><br>
    </center>
</body>
</html>
