<!doctype html>

<html lang="en">

<style type="text/css">

body {
font-family: sans-serif;
width: 300px;
margin: 0 auto;
}

.error {
color: red;
font: 14px sans-serif;
}

</style>

<head>
	<meta charset="utf-8">
	<link rel="shortcut icon" href="/favicon0.ico">
	<title>py.gl - Put it online</title>
	<meta name="description" content="pygl page - create free micro pages">
	<meta name="viewport" content="width=720">
	<style type="text/css"></style>
	<script src='https://www.google.com/recaptcha/api.js'></script>
	<script>
       function onSubmit(token) {
         document.getElementById("report-form").submit();
       }
     </script>
</head>

<body>
	<form id="report-form" method="POST" enctype="multipart/form-data">
		<br><br><br><br><br><br>
		Thank you for reporting!
		<br><br>
		Go back to <a href="http://{{page_uri}}.py.gl" style="color: black;font-weight: normal;">{{page_uri}}.py.gl</a>.
		<br><br>
		Go to <a href="http://py.gl" style="color: black;font-weight: normal;">py.gl</a> main page.
	</form>
</body>
</html>
